{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}



<div class="container">
    <h1> projet la plateforme</h1>
    <p>les tests unitaires et fonctionnels</p>
    {% if app.user %}
     <p id="pseudo">
         bienvenu Mr {{ app.user.pseudo }}
     </p>
    {% endif %}

</div>
{% endblock %}
